<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Dashboard</title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/themes/css/cartodb.css" />
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/leaflet.draw.css" rel="stylesheet"/>
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/maps.css" rel="stylesheet">
    <script type="text/template" id="itemReporteFuga">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-header">
                Incidencia de fugas
            </div>
            <div class="card-body">
                <h4 class="card-title"><strong>Numero de ticket:<%- item.ticket %></strong></h4>
                <h5 class="card-title">Direccion:</h5>
                <p class="card-text"><%- item.direccion %></p>
                <h5 class="card-title">Descripcion:</h5>
                <p class="card-text"><%- item.descripcion %></p>
            </div>
        </div>
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>

                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                    </li>
                  </ul>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div id="divMapMain">
                        <button class="btn btn-primary btn-circle btn-sm btn-reporte"
                        data-toggle="tooltip" data-placement="right" title="Orden de trabajo"
                        >
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </button>
                        <div class="row" style="height: 100%">
                            <div class="col-xs-9 col-sm-9 col-md-9 panel-Info">
                                <div class="d-flex flex-column">
                                    <div id="pnlReportFuga">Posicion</div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 mb-4" style="height: 100%">
                                 <div class="card border-left-primary panel-Ubicacion">
                                        <div class="card-body flex-column">

                                            <h5>Listado de reporte de fugas</h5>
                                            <div id="lstReporte"></div>
                                            <div class="d-flex flex-column">
                                                <button class="btn btn-info btn-sm"><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Asignar cuadrilla</button>
                                            </div>

                                            <div class="d-flex flex-column mt-1">
                                                <button class="btn btn-primary btn-sm"><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Crear orden</button>
                                            </div>
                                        </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
        </div>
    <!-- End of Content Wrapper -->
    </div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

    <!-- Logout Modal-->
    <div class="modal fade" id="mdl" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script type="text/javascript" src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.15/cartodb.js"></script>
    <script type="text/javascript" src="js/common/leaflet.draw.js"></script>
    <script type="text/javascript" src="js/common/turf.min.js"></script>
    <script type="text/javascript" src="js/common/underscore-min.js"></script>
    <script type="text/javascript" src="js/common/cdmxCarto.js"></script>
    <script type="text/javascript" src="js/orden/functions.js"></script>
    <script type="text/javascript" src="js/orden/events.js"></script>
    <script type="text/javascript" src="js/orden/main.js"></script>
</body>
</html>
